/*<!--GrestOne Software di Gestione per Gr.Est.
	Copyright (C) 2012 Contessotto Marco & Ziero Samuele

    This file is part of GrestOne.
    GrestOne is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    GrestOne is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Grestone.  If not, see <http://www.gnu.org/licenses/>.
-->*/
body,html{margin:0px;
		padding:0px;
		}
body{text-align:center;
	background-color:#E1EAF0; /*0099FF    #E1EAF0*/
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}

div#principale{
		width:960px;
		margin:0px auto;
		margin-top:20px;
		margin-bottom:50px;
		background:url('../immagini/sfondomenu.png') repeat-y top left;
		background-color:white;
		border:0px outset;
		border-radius:25px;
		}
div#intestazione{
	background:#3b5998;
	height:80px;
	border-bottom:0px solid;
	padding:10px;
	background: url('../immagini/intestazione.png');
	background-repeat: no-repeat;
	}
	
div#ricerca{
	align=:left;
	border:0px outset;
	font-size: 14px;
	font-style:italic;
	/*font-family: "georgia";*/
	}
div#mostraRicerca{
	/*background: url('../immagini/ricerca_back.png');
	background-repeat: no-repeat;*/
	background-color: #EFFBFB;
	}	

	
err{
	color:#F00;
	margin:0px;
	padding:0px;
	text-decoration:blink;
    }
	
h1{
	color:white;
	margin:0px;
	padding:0px;
	font-family: "monotype corsiva";
	font-size: 25px;
	}
	
h2{
	color:#006;
	margin:0px;
	padding:0px;
	font-family: "georgia";
	font-size: 20px;
	}
	
h3{
	color:#009;
	margin:0px;
	padding:0px;
	font-family: "georgia";
	font-size: 15px;
	}
	
h4{
	color:#000;
	margin:0px;
	padding:0px;
	font-family: "georgia";
	font-size: 13px;
	text-align: justify;
	}
	
div#menu{
    float: left;
    width: 180px;
	padding:10px;
    } 
	
div#contenuto{
	margin-left: 200px;
	padding:10px;
	width:730px;
	scrollbar-base-color: #0CF;
	scrollbar-arrow-color: #009;
	scrollbar-track-color: #009;
	overflow:auto;
    }
	
div#contenutoaltezzafissa{
	margin-left: 200px;
	padding:10px;
	width:730px;
	height:500px;
	scrollbar-base-color: #0CF;
	scrollbar-arrow-color: #009;
	scrollbar-track-color: #009;
	overflow:auto;
    }
	
	
	/* ORIGINALE PRIMA DEI 20/08
div#contenuto{
	margin-left: 200px;
	padding:10px;
	width:730px;
	height:480px;
	scrollbar-base-color: #0CF;
	scrollbar-arrow-color: #009;
	scrollbar-track-color: #009;
	overflow:auto;
    }
	
	*/
	

div#pedice{
	clear: left;
	background: url('../immagini/pedice.png');
	background-repeat: no-repeat;
	height:75px;
	border-top:0px;
	color: #999;
	font-size: 10px;
	}
	
table#pedice{
	td:border:0px solid;
	tr:border:0px solid;
	}

div#pannello{
	padding-top:15px;
	color:#00F;
	width:200px;
	height:80px;
	position: absolute;
	top:10px;
	right:0px;
	background: url('../immagini/login.png');
	background-repeat: no-repeat;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	}
	
div#pannelloadmin{
	width:340px;
	outset;
	padding:10px;
	align=:left;
	background: url('../immagini/pannello_admin.png');
	background-repeat: no-repeat;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	}
	
	
a{
	color:#069;
}
a:hover{color:black;}
img#logo{height:80px;
		float:left;
		border:0px;}
user{
	color: #FC0;
	font-weight: bold;
}

spec_grest{
	color: #FC0;
	font-weight: bold;
	font-size: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

div#eliminato{
	width:300px;
	height:200px;
	background: url('../immagini/notifica.png');
	background-repeat: no-repeat;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color:red;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	}

div#modificato{
	width:300px;
	height:200px;
	background: url('../immagini/notifica.png');
	background-repeat: no-repeat;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	color:#FC0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	}
	
#calendario
{
	border:2px solid  #3366FF;
	width:500px;
	height:350px;
	font-size:20px;
	padding:5px;
}
#calendario th
{
    text-align:center;
}

#calendario td
{
    text-align:center;
}
#calendario tr:hover td
{
	background: #E0FFFF;
	color: #06C;
}

#lista
{
	background: #fff;
	border-collapse: collapse;
	font-family: "Arial", "Verdana", Sans-Serif;
	font-size: 14px;
	text-align: left;
}
#lista th
{
	background: #c3d6e0;
	border-top: 4px solid #EDF6FA;
	color: #009;
	font-size: 14px;
	font-weight: normal;
	padding: 8px;
    text-align:center;
}

#lista td
{
	background: #FFFFFF;
	border-top: 1px solid #87CEFA;
	border-bottom: 1px solid #87CEFA;
	color: #394A57;
	padding: 8px;
    text-align:center;
}

#lista tr:hover td
{
	background: #dae7ed;
	color: #394A57;
}

#faq
{
	background: #fff;
	border-collapse: collapse;
	font-family: "Arial", "Verdana", Sans-Serif;
	color:#006;
	font-size: 14px;
	text-align: justify;
}
#faq th
{
	background: #c3d6e0;
	border-top: 4px solid #EDF6FA;
	color: #009;
	font-size: 14px;
	font-weight: normal;
	padding: 5px;
    text-align:justify;
}

#faq td
{
	background: #FFFFFF;
	border-top: 1px solid #87CEFA;
	border-bottom: 1px solid #87CEFA;
	color: #394A57;
	padding: 5px;
	text-align:justify;
}

#faq tr:hover td
{
	background: #dae7ed;
	color: #394A57;
}
