/*<!--GrestOne Software di Gestione per Gr.Est.
	Copyright (C) 2012 Contessotto Marco & Ziero Samuele

    This file is part of GrestOne.
    GrestOne is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    GrestOne is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Grestone.  If not, see <http://www.gnu.org/licenses/>.
-->*/
body,html{margin:0px;
		padding:0px;
		}
body{
	text-align:center;
	background-color:#E1EAF0;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
div#login{margin:auto;
		margin-top:100px;
		background:#3b5998;
		border:0px outset black;
		width:450px;
		color:blue;
		padding:15px;
		background: url('../immagini/index.png');
		background-repeat: no-repeat;}
h2{
	color:#F00;
	margin:0px;
	padding:0px;
	text-decoration:blink;
}
